body {
  max-width: 1080px;
}

#app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 3px);
}

footer {
  margin-top: auto;
}

.clickable-row {
  cursor: pointer;
  &:hover {
    background: #e2e6ea linear-gradient(180deg, #e6eaed, #e2e6ea) repeat-x;
  }
}

img {
  max-width: 100%;
}

@include media-breakpoint-down(xs) {
  .filters {
    border-right: none !important;

  }
}
